<!--
If you want to include any custom html just before </body>, put it in /layouts/footer_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/footer_custom.html doesn't exist.
-->
<script>
  	$('.navbar-custom').on('click', function () {
  		$(this).animate({
        opacity: '0.5',
        height: '150px',
  		});
      $('body').animate({
        "padding-top": '40px',
      });
  	});
</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
