.post-heading {
  color: #145374;
}
.page-heading {
  border-radius: 12px;
  cursor: pointer;
}
.post-title {
  color: #00334e;
}

h2 {
  color: #00334e;;
}

figure {
  color : #00334e;
  padding: 20px;
  margin: auto;
  width: max-content;
  background-color: #e8e8e8;
  border-radius: 12px;
  border-left-width: 0px;
}

figure audio {
  width: 100%;
}

figcaption {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.navbar-custom {
  background-image: url("/nagra.jpg");
}

.navbar-custom .navbar-brand, .navbar-custom .nav li a {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: #00334E;
    border-radius: 12px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1em;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .nav li a:hover {
    background-color: #145374;
    color: white;
}


.intro-header .page-heading h1 {
      color: #00334e;
}

article {
  text-align: justify;
}


@media only screen and (max-width: 768px) {
#main-navbar li {
    width: 100%;
    background-color: black;
  }
}
